@CHARSET "UTF-8";

.ukrgbmap {
  height: 400px;
  border: 1px solid #ccc;
}
.ukrgbmapgr label {
  font-size: 10px;
}
.ukrgbmapgr input[type='text'] {
  font-size: 10px;
  border: none;
  padding: 0px 0px;
  margin: 0px 5px;
  background-color: #ffffff;
}
div#map svg {
  max-width: none;
}
div#map img {
  max-width: none;
}
.olControlAttribution {
  bottom: 0px!important;
}